@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'),
    url(../assets/fonts/Poppins-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local('Poppins Medium'), local('Poppins-Medium'),
    url(../assets/fonts/Poppins-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
    url(../assets/fonts/Poppins-SemiBold.woff2) format('woff2');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
