node_modules
coverage
flow-typed
/applications/*/flow-typed
/applications/*/.flowconfig
/packages/*/flow-typed
/packages/*/lib
/packages/*/.flowconfig
/packages/*/cjs
/packages/launcher/src/assets/svgs/*.svg
/packages/smart-contracts/build
dist/
*.log
.DS_Store
.idea
shell.nix
/website/build
copy.txt
