html,
body,
#app {
  display: flex;
  flex: 1;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}


.app-shadow {
  transition: all 0.3s;
  box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.6);
}
.app-shadow-hover {
  transition: all 0.3s;
  box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.6);
}

.inner-modal {
  position: fixed !important;
  top: 0 !important;
  left: 130px !important;
  right: 0 !important;
  bottom: 0 !important;
  background-color: #fff !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  z-index: 999 !important;
  border: none !important;
}

.full-modal {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background-color: #fff !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  z-index: 999 !important;
  border: none !important;
}

.transition {
  transition: all 0.3s;
}

.ReactModal__Content {
  width: 100%;
  height: 100%;
  position: relative !important;
  top: initial !important;
  left: initial !important;
  right: initial !important;
  bottom: initial !important;
  border: none !important;
  background: none !important;
  overflow: auto !important;
  outline: none !important;
  padding: 0px !important;
}
.no-skew {
  transition: all 0.3s;
  transform: perspective(400px) rotateY(0deg);
}
.skew-left {
  transition: all 0.3s;
  transform: perspective(400px) rotateY(-15deg);
}

.skew-right {
  transition: all 0.3s;
  transform: perspective(400px) rotateY(15deg);
}

.draggable {
  -webkit-app-region: drag
}

.white-shadow {
  -webkit-box-shadow: -2px -30px 98px 34px rgba(255,255,255,1);
  -moz-box-shadow: -2px -30px 98px 34px rgba(255,255,255,1);
  box-shadow: -2px -30px 98px 34px rgba(255,255,255,1);
}