{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 Chrome versions"]
        }
      }
    ],
    "react"
  ],
  "plugins": ["inline-react-svg", "transform-class-properties"]
}
