{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    "inline-react-svg"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "61"
        }
      }
    ],
    "@babel/preset-flow",
    "@babel/preset-react"
  ]
}
